gladier/Globus-Automation-Services-001.png filter=lfs diff=lfs merge=lfs -text
001-Overview-Globus-Automation-Services.png filter=lfs diff=lfs merge=lfs -text
002-Setup-Transfer-Compute.jpeg filter=lfs diff=lfs merge=lfs -text
