sphinx
sphinx-rtd-theme
m2r2
gladier
git+https://github.com/globus-gladier/gladier-tools.git#egg=gladier-tools


# Small hack to ensure latest requirements, in case the newest Gladier version
# Switched them up (Currently the case for globus-compute-sdk)
-r ../requirements.txt